{#
/**
 * @file oauth_authorization_code.html.twig
 * Default theme implementation to present OAuth Authorization Code data.
 *
 * This template is used when viewing OAuth Authorization Code pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oauth_authorization_code()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('oauth_authorization_code') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
