{#
/**
 * @file oauth_app_authorization.html.twig
 * Default theme implementation to present OAuth App Authorization data.
 *
 * This template is used when viewing OAuth App Authorization pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oauth_app_authorization()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('oauth_app_authorization') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
